{% extends 'base.html' %} {% block title %}
<title>Channels_user</title>
{% endblock %} {% block body %}
<div class="main-container">
  <div class="channels_user-title">
    <h1>Stylists</h1>
    <ul class="stylist-list">
      {% for stylist in channels_stylist %}
      <li class="stylist-item">
        <!--スタイリストの名前をクリックするとチャットページに遷移する-->
        <a href="{{url_for('chat_view',stylist_id=stylist.id)}}" class="stylist-name">
          {{ Stylists.stylist_name }}
        </a>
      <br>
          <img src="{{ url_for('display_profile_process', filename=stylists.profile_picture_url) }}" alt="Profile_Picture"><br>
          {{ stylist.comment }}<br>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="channels_user-button-container">
    <a class="back-to-main" href="{{ url_for('main_view') }}">
      戻る
    </a>
  </div>
</div>
{% endblock %}