{% extends 'base.html' %} {% block title %}
<title>Channels_user</title>
{% endblock %} {% block body %}
<div class="main-container">
  <div class="channels_user-title">
    <h1>Users</h1>
      {% for users in channels_user %}
        <p>
          {{ users.CustomerName }}<br>
        </p>
      {% endfor %}
  </div>
  <div class="channels_user-button-container">
    <a class="edit_profile" href="{{ url_for('edit_profile_view') }}">
      プロフィール編集
    </a><br>
    <a class="reservation_list" href="{{ url_for('stylist_reservation_view') }}">
      予約一覧
    </a><br>
    <a class="logout" href="{{ url_for('logout') }}">
      ログアウト
    </a><br>
  </div>
</div>
{% endblock %}