{% extends 'base.html' %} {% block title %}
<title>Main</title>
<link rel="stylesheet" href="static\css\main_customer.css">
{% endblock %} {% block body %}
<div class="customer_main-wrapper">
  <div class="main-title">
    <h1>J Team</h1>
    <p class="main-title-text"></p>
    <div class="customer_main-container">
    <img src="static\img\Top.jpg" alt="ページを表示できません">

      <h2>Access</h2>
      <dl>
      <dt>Adress</dt>
      <dd>東京都品川区荏原3丁目1-35</dd><hr>

  
      <dt>TEL</dt>
      <dd>XXX-XXXX-XXXX</dd><hr>


      <dt>営業時間</dt>
      <dd>月-金 9:00-20:00</dd>
      </dl>
    

       <h2>Menu</h2>
       <h3>CUT</h3>
      <dl>
       <dt>カット</dt><dd>￥5000</dd>
       <p>シャンプー・ブロー込み</p>
       <dt>スクールカット</dt>
       <dd>￥3000</dd>
       <dd>高校生以下</dd>
       <hr>
      </dl>

       <h3>COLOR</h3>
       
      <p>ハーブカラー（フル） 要問合せ</p>
      <p>クオルシアカラーに変更 +￥2000</p>
      <p>オーガニックカラーに変更 +￥3500</p>
   
      <p>ハーブカラー（リタッチ）￥3000</p>
      <p>クオルシアカラーに変更 +￥2000</p>
      <p>オーガニックカラーに変更 +￥3500</p>
   
      <p>イヤリングカラー￥4500</p>
      <p>S/Bロング料金なし</p>

      <p>ケアブリーチ&カラー￥11000</p>
      <p>S/Bロング料金なし</p>

      <p>インナーカラー￥4500</p>
      <p>S/Bロング料金なし</p>
      <hr>

      <h3>PARMA</h3>
      <p>パーマ￥8000</p>
      <p>デジタルパーマ￥12000</p>
      <p>ストレートパーマ￥7000</p>
      <hr>
       
       

  </div>
</div>
  <div class="main-button-container">
    <a class="modify-user-information" href="{{ url_for('edit_user_profile_view') }}">
      ユーザー情報修正
    </a><br>
    <a class="view_stylists_list" href="{{ url_for('channels_user_view') }}">
      美容師一覧
    </a><br>
    <a class="logout" href="{{ url_for('logout') }}">
      ログアウト
    </a>
  </div>
 </div>
</div>
{% endblock %}