{% extends 'base.html' %} {% block title %}
<title>{{ stylist_name }}</title>
{% endblock %} {% block body %}
<div class="chat-main-container">
    <div id="chat-header">
      <p class="channel-title-text detail-title">{{ stylist_name }}</p>
    <div id="message-area">
      {% if messages|length > 0 %} {% for message in messages %} {% if
      message.uid == uid %}
      <div class="my-messages">
        <p class="sent_at">{{ message.sent_at }}</p>
        <p class="box box-right">{{ message.content | safe }}</p>
      </div>
      {% else %}
      <div class="messages">
        <p class="sent_at">{{ message.sent_at }}</p>
        <p class="box box-left">{{ message.content | safe }}</p>
      </div>
      {% endif %} {% endfor %} {% else %}
      <p id="no-message">まだメッセージがありません</p>
      {% endif %}
    </div>
    <div class="typing-box-wrapper">
      <form class="typing-box" method="POST" name="newMessageForm">
        <textarea name="message" id="message" autofocus></textarea>
        <button type="submit" id="add-message-button">
          <ion-icon name="paper-plane">送信</ion-icon>
        </button>
      </form>
    </div>
    <div class="messages_user-button-container">
      <a class="back-to-channels_user" href="{{ url_for('channels_user_view') }}">
        戻る
      </a>
      <a class="view-template" href="{{ url_for('template_view', cid=cid) }}">
        テンプレート
      </a>
      <a class="view-make_reservation" href="{{ url_for('make_reservation_view', cid=cid) }}">
        予約
      </a>
    </div>
</div>
{% endblock %}
