{% extends 'base.html' %} {% block title %}
<link rel="stylesheet" href="static\css\reservation.css">
<title>reservation</title>
{% endblock %} {% block body %}
<div>
  <a href="{{ url_for('channels_stylist_view') }}" class="back-button"><span></span></a>
<div class="reservation-container">
    <div>
      <h1>SCHEDULE</h1>
    </div>
    <div class="reservation-main">
      {% for reservation in reservations %}
        <p class="reservation_datail">
          {{ reservation.customer_name }} 様 <br> {{ reservation.reservation_date }} <br>
        </p>
      {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
