{% extends 'auth/base.html' %} {% block title %}
<title>edit_stylist_profile</title>
{% endblock %} {% block body %}
<div class="auth-wrapper">
  <div class="auth-container">
    <div class="auth-form-wrapper">
      <form class="auth-form edit_profile" method="post" enctype="multipart/form-data">
        <h1 class="auth-title">プロフィール編集</h1>
        <div>
          <label for="signup-name-input">Name</label>
          <input
            type="text"
            placeholder="名前"
            name="name"
            id="signup-name-input"
          />
        </div>
        <div>
          <label for="signup-email-input">Mail Address</label>
          <input
            type="text"
            placeholder="Email"
            name="email"
            id="signup-email-input"
          />
        </div>
        <div>
          <label for="signup-phone-input">TEL</label>
          <input
            type="number"
            placeholder="PhoneNumber"
            name="phone"
            id="signup-phone-input"
          />
        </div>
        <div>
          <label for="signup-gender">Gender</label>
          <select id ="signup-gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        </div>
        <div>
          <label for="signup-password-input">Password</label>
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="signup-password-input"
          />
        </div>
        <div>
          <label for="signup-password-confirmation-input">
            Password（確認）
          </label>
          <input
            type="password"
            placeholder="Password"
            name="password-confirmation"
            id="signup-password-confirmation-input"
          />
        </div>
        <div>
          <label for="edit_profile-picture-input">写真</label>
          <input
            type="file"
            placeholder="file"
            name="file"
            id="edit_profile-picture-input"
            accept="image/png, image/jpeg"
          />
        </div>
        <div>
          <label for="edit_profile-comment-input">コメント</label>
          <input
            type="text"
            placeholder="Comment"
            name="comment"
            id="edit_profile-comment-input"
          />
        </div>
        <div class="auth-button-container">
          <button class="auth-button pink">更新</button>
          <a class="switch-auth-mode" href="{{ url_for('channels_stylist_view') }}">
            戻る
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}