{% extends 'auth/base.html' %} {% block title %}
<title>login</title>
{% endblock %} {% block body %}
<div class="auth-wrapper">
  <div class="auth-container">
    <div class="auth-form-wrapper">
      <form class="auth-form" method="post">
        <h1 class="auth-title">LOGIN（顧客用）</h1>
        <div>
          <label for="email-input">Mail Address</label>
          <br>
          <input
            type="text"
            placeholder="ID(メールアドレス)"
            name="email"
            id="email-input"
          />
        </div>
        <div>
          <label for="password-input">Password</label>
          <br>
          <input
            type="password"
            placeholder="パスワード"
            name="password"
            id="password-input"
          />
        </div>
        <div class="auth-button-container">
          <button class="auth-button pink">ログイン</button>
          <a class="switch-auth-mode" href="{{ url_for('signup_view') }}">
            会員登録
          </a>
          <!-- <a class="switch-auth-mode" href="{{ url_for('login_staff_view') }}">
            店舗用ログイン
          </a> -->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}