{% extends 'auth/base.html' %} {% block title %}
<title>login</title>
{% endblock %} {% block body %}
<div class="auth-wrapper">
  <div class="auth-container">
    <!--<img
     src="{url_for('static',filename='img/icon.png')}"
     class="logo"
     />-->
    <div class="auth-form-wrapper-login">
      <form class="auth-form" method="post">
        <h1 class="auth-title">STAFF LOGIN</h1>
        <div>
          <label for="email-input">Mail Address</label>
          <input
            type="text"
            placeholder="ID(メールアドレス)"
            name="email"
            id="email-input"
          />
        </div>
        <div>
          <label for="password-input">Password</label>
          <input
            type="password"
            placeholder="パスワード"
            name="password"
            id="password-input"
          />
        </div>
        <div class="auth-button-container">
          <button class="auth-button login">ログイン</button>
          <a class="switch-auth-mode btn" href="{{ url_for('signup_staff_view') }}">
            従業員登録
          </a>
          <!--<a class="switch-auth-mode" href="{{ url_for('login_view') }}">
            顧客用ログイン
          </a>-->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
