
/* auth-wrapperの説明*/
.auth-wrapper{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--navy_blue);
}
/* containerの説明*/
.auth-container{
    width:90%;
    height:90%;
    margin:auto;
    border-radius:1px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: var(--navy_blue);    
}

.auth-form-wrapper{
    width:auto;
    height: auto;
    margin:auto;
    border-radius:1px;
    display:flex;
    padding:50px;
    background-color: var(--white_1);    
}

.auth-form-wrapper-login{
    width:auto;
    height: auto;
    margin:auto;
    border-radius:1px;
    display:flex;
    padding:50px;   
}
/* タイトル文の説明*/
.auth-title{
    margin-bottom:20px; 
    color:var(--white_1);
}

/* サブタイトルの説明*/
.sub-title{
    font-size:x-small;
}

.auth-form div{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}
.auth-form label{
    font-size:12px;
    color:var(--navy_blue)
}

.auth-form-login label{
    font-size:12px;
    color:var(--white_1)
}

.auth-form-wrapper-login label {
    font-size: 12px;
    color: var(--white_1);
}

.auth-form input{
    border: solid 1px var(--navy_blue);
    line-height:12px;
    width:100%
}

.auth-form input:focus{
    border: solid 1px var(--navy_blue);
    background-color: var(--navy_blue);
    color:var(--white_1)
}

.auth-button-container{
    justify-content:center;
    /*align-items:center*/  
}

.spin_erase::-webkit-inner-spin-button,
.spin_erase::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    margin: 0!important;
-moz-appearance:textfield!important;
}


.auth-button-touroku{
    background-color: var(--brown);
    color:var(--gray);
    border:1px solid var(--gray);
    padding:3px 50px;
}
.auth-button-touroku:hover{
    background-color: var(--navy_blue);
    color:var(--white_1)
}

.back-button {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition:border-right-color 0.3s ease-in-out;
}

.back-button span {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--brown2); /* 右向きの三角形 */
}

.back-button:hover span {
    border-right-color: var(--brown); /* ホバー時に色変更 */
}



.auth-button{
    width:100%;
    margin-bottom:12px;
}

/* ログインボタン*/
.auth-button.login {
    background-color: #D8C4B6; /* 背景色 (ベージュ) */
    border: none; /* 枠線なし */
    padding: 10px 20px; /* 余白 */
    font-size: 16px; /* フォントサイズ */
    cursor: pointer; /* カーソルをポインターに */
    transition: background-color 0.3s; /* ホバー時のアニメーション */
}
  
/* ホバー時の色変更 */
.auth-button.login:hover {
    background-color: #0056b3;
}

.auth-button.login:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #000;
    transform: translateY(0.25em);
}


/*新規登録ボタン*/
.btn {
    display: inline-block; /*ボタン風に*/
    padding: 10px 20px; /* 余白 */
    background-color: var(--white_1);
    text-decoration: none; /* 下線を消す */
    font-size: 16px; /* 文字サイズ */
    color: var(--black);
    text-align: center; /* テキストを中央揃え */
    transition: background-color 0.3s, transform 0.2s; /* ホバー時のアニメーション */
}

.btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #000;
    transform: translateY(0.25em);
}


footer{
    /*footerの装飾*/
    width: 100%;
    background-color: var(--navy_blue);
    margin-right:20px;
    margin-bottom:20px;
    text-align:right ;
    bottom:0;
    right:0;
    padding: 30px 0;
}

:root{
    --navy_blue:#213555;
    --white_1:#FAFAFA;
}
