/* stylists-wrapperの説明*/
.channels_stylists_mainwrapper{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background-color: var(--navy_blue);
}

.stylists_top_wrapper{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:90%;
    padding:10px 20px;
    box-sizing: border-box;
    height: 50px;
    background-color:var(--white_1)
}
.channels_syilist_container{
        width:90%;
        height:90%;
        margin:10%;
        box-sizing:border-box;
        flex-direction:column;
        align-items:center;
        display:flex;
        padding:50px;
        background-color: var(--white_1); 
        padding-bottom: 100px;
        justify-content: flex-start;
         flex-wrap: wrap; 
}

.channels_sylist_title{
    display:flex;
    background-color: var(--white_1); 
}

.customer_detail{
    display:flex;
    height:50px;
    align-items:center;
    justify-content: center; 
    width:250px;
    background-color:var(--brown);
    border:1px solid var(--black);
    padding:5px;
    color:var(--black);
    box-sizing: border-box; 
}

.customer_detail:nth-child(odd) {
    background-color: var(--brown); 
}

.customer_detail:nth-child(even) {
    background-color: var(--brown2); 
}
.stylist-info{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:20px;
    background-color:var(--brown);
    border-radius:1px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
    margin: 20px auto;
    box-sizing: border-box; 
}

.stylist-name{
    width: 100%;
    max-width:400px;
    border:1px solid var(--black);
    border-radius:1px;
    background-color:var(--white_1);
    display: inline-block; 
    padding:5px;
}
.stylist-picture{
    width:100%;
    height: 100%;
    border:1px solid var(--black);
    display: block; 
}

.stylist-comment{
    width:100%;
    border:1px solid var(--black);
    border-radius:1px;
    background-color:var(--white_1);
    margin: bottom 5px;
    display:inline-block;
    padding:10px;
}

.h1_stylistss{
    align-items:left;
    color:var(--black);
    background-color:var(--white_1);
    flex-grow: 1; 
    font-size:24px;
    padding:0 10px;
    height:100%;
    display:flex;
    z-index: 10;
}


/* stylists-wrapperの説明*/
.channels_users_mainwrapper{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--navy_blue);
    flex-direction:column;
}
/* users_containerの説明*/
.channnels_users_container{
    width:100%;
    max-width: 1200px; 
    margin:0 auto;
    border-radius:1px;
    padding:50px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    background-color: var(--navy_blue);    
}
.channnels_users_wrapper{
    width:90%;
    height:90%;
    margin:auto;
    border-radius:1px;
    display:flex;
    flex-direction:column;
    background-color: var(--white_1);    
}

.back-button {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 40px;
    left: 30px;
    cursor: pointer;
    transition:border-right-color 0.3s ease-in-out;
}

.back-button span {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--brown2); /* 右向きの三角形 */
}

.stylist-def{
    color:var(--gray);
    font-size:12px;
}

.back-button:hover span {
    border-right-color: var(--brown); /* ホバー時に色変更 */
}


.customer_hamburger_menu{
    display:flex;
    justify-content:right;
    text-align: center;
    align-items:center;
    flex-shrink:0;
    width:50px;
    height: 100%;
}


.hamburger__icon{
    width:50px;
    aspect-ratio: 1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 6px;
    background-color:var(--brown);
    border:none;
    cursor: pointer;
    position:relative;
}
.hamburger__icon span {
    width: 30px;
    height: 3px;
    background:var(--black);
    transition: transform 0.3s, opacity 0.3s;
    position: absolute;
}
  
/* 1本目（上の線） */
.hamburger__icon span:nth-child(1) {
    top: 12px;
    justify-content:center;
}

/* 2本目（中央の線） */
.hamburger__icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    justify-content:center;
}
/* 3本目（下の線） */
.hamburger__icon span:nth-child(3) {
    bottom: 12px;
}


.customer_hamburger_menu.active .hamburger__icon span:nth-child(1) {
    transform: translateY(11px) rotate(45deg); 
}

.customer_hamburger_menu.active .hamburger__icon span:nth-child(2) {
    opacity: 0;
}

.customer_hamburger_menu.active .hamburger__icon span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
  
.nav__links {
    display: none;
    flex-direction:column;
    gap:10px 0;
    background-color:var(--brown2);
    color:var(--brown);
    box-shadow:0 0 10px var(--black);
    border-radius:1px;
    border:1px solid ver(--navy_blue);
    position:absolute;
    top:58px;
    height:30wv;
    right:0;
    width:100vw;
    border:var(--black);
    justify-content: center;
    z-index: 1001;
    height:auto;
}
  
.customer_hamburger_menu.active .nav__background{
    display: block;
}

.customer_hamburger_menu.active .nav__links {
    display: flex;
}

.nav__links a {
    color:var(--black);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
    border: 1px solid var(--black);
    width:200px;
    margin: 10px auto; 
}

.nav__links a:nth-child(1) {
    margin-top:30px;
}
.nav__links a:nth-child(3) {
    margin-bottom: 30px;
}


.nav__links a:hover {
    background-color: var(--navy_blue);
    border-radius: 1px;
}
 
h1{
    align-items:left;
    color:var(--black);
    background-color:var(--navy_blue);
    flex-grow: 1; 
    font-size:24px;
    padding:0 10px;
    height:100%;
    display:flex;
}




/* スマホ対応 */
@media (max-width: 768px) {
.channels_syilist_container {
    padding: 20px; 
    margin: 10%;
}
    
h1 {
    font-size: 18px;
}
.channels_users_container,
.channnels_users_wrapper {
        width: 100%;
        padding: 10px;
}
}

:root{
    --navy_blue:#213555;
    --white_1:#FAFAFA;
    --black:#3D3D3D;
    --gray:#494848;
    --brown:#D8C4B6;
    --brown2:#F5EFE7;
}
