.customer_main-wrapper{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--navy_blue);
}
.customer_main-container{
    width:auto;
    height: auto;
    margin:auto;
    border-radius:1px;
    flex-direction:column;
    align-items:center;
    display:flex;
    padding:50px;
    background-color: var(--white_1); 
}

h1{
    font-size:32px;
    color:var(--black);
    background-color:var(--white_1);
    padding:10px;
}

.menu-hr{
    border:0;
    height:2px;
    border-width:100%;
    border-color:var(--gray)
 }

:root{
    --navy_blue:#213555;
    --white_1:#FAFAFA;
    --black:#3D3D3D;
    --gray:#494848;
}



/*　以下でボタンを押下したら色が変わるJavascriptを入れたい。
/*.main-button-container a.active {
/*       background-color: #f0f0f0; /* アクティブなリンクの背景色 */
/*       color: #000; /* アクティブなリンクの文字色 */
/*      }