.main-container{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--navy_blue);
}
h1{
    font-size:32px;
    color:var(--black);
    background-color:var(--white_1);
    padding:10px;
}

.main-title{

}

:root{
    --navy_blue:#213555;
    --white_1:#FAFAFA;
    --black:#3D3D3D;
}

/*　以下でボタンを押下したら色が変わるJavascriptを入れたい。
/*.main-button-container a.active {
/*       background-color: #f0f0f0; /* アクティブなリンクの背景色 */
/*       color: #000; /* アクティブなリンクの文字色 */
/*      }